@model SupportRequestViewModel

@{
    ViewData["Title"] = "INeedSupport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.success != null)
{
    <div>
        <h3>@ViewBag.success</h3>
    </div>
}
<h3>I would like to talk to a BA Peer</h3>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="INeedSupport" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*<input asp-for="Id" class="form-control" />*@

            <div class="form-group">
                <label>1. We need to be able to make contact with you. It does not have to be your real name or full name.</label>
                Your Name <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>
                2.How soon do you want us to make contact with you? This helps us to allocate resources and respond to your level of urgency.
                </label>
                @foreach (var c in System.Enum.GetValues(typeof(HowSoonWantsToBeContacted)))
                {
                    <label asp-for="HowSoonWantsToBeContacted">@c</label>
                    <input type="radio" asp-for="HowSoonWantsToBeContacted" value="@((int)c)" />
                }
            </div>

            <div class="form-group">
                <label>Language Preferency </label><br />
                @foreach (var c in System.Enum.GetValues(typeof(LanguagePreferency)))
                {
                    <label asp-for="LanguagePreferency">@c</label>
                    <input type="radio" asp-for="LanguagePreferency" value="@((int)c)" />
                }
            </div>
            <div class="form-group">
                <label>Base Information</label><br />
                @foreach (var c in System.Enum.GetValues(typeof(BaseInformation)))
                {
                    <label asp-for="BaseInformation">@c</label>
                    <input type="radio" asp-for="BaseInformation" value="@((int) c)"/>
                }
            </div>
            3.Please enter the phone number and email address that you want us to use to make contacy with you. Only the peer volunteer will see this and it will not be used for any purpose.
            <div class="form-group">
                Contact Number <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                Contact Email <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="I have read the terms & conditions and want to submit my request" class="btn btn-block btn-dark" />
            </div>
        </form>
    </div>
</div>

