@model UserViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RapidLayout.cshtml";
}

<div style="padding: 120px">
    <h3 class="text-center mb-3 font-weight-normal" style="font-family: fo">Kullanici Bilgileri</h3>
    <hr />

    <div class="card col-md-3">
        <img src="@Model.Picture" alt="John" style="width:100%">
        <h1>@Model.UserName</h1>
       
    </div>

    <div class="col-md-9">

        <table class="table table-bordered table-striped">
            <tr>
                <th>Kullanıcı İsmi</th>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Telefon Numarası</th>
                <td>@Model.PhoneNumber</td>
            </tr>

            <tr>
                <th>City</th>
                <td>
                    @if (!String.IsNullOrEmpty(Model.City))
                    {
                        @Model.City
                    }
                    else
                    {
                        <span>Belirtilmemiş</span>
                    }
                </td>
            </tr>
            <tr>
                <th>Doğum Tarihi</th>
                <td>
                    @if (Model.BirthDay != null)
                    {
                        @Model.BirthDay?.ToShortDateString()
                    }
                    else
                    {
                        <span>Belirtilmemiş</span>
                    }

                </td>
            </tr>

            <tr>
                <th>Cinsiyet</th>
                <td>@Model.Gender</td>
            </tr>

        </table>
    </div>

</div>